
body {
  margin: 5px;
  text-align: center;
 
}

.container-fluid{
    background-color: white;
    padding: 20px;
}

.formulario{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

