<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
        <nav th:replace= "/fragments/navbar :: nav"> </nav>

        <div class="MensajeBienvenida">
            <h1 th:if="${session.usuariosession != null}" th:text="'Bienvenido de nuevo ' + ${session.usuariosession.nombre}"  ></h1>
        </div>
    
        <div class="container-fluid row row-cols-1 row-cols-md-3 g-2" >
            <div class="row" th:each="noticia : ${noticias}">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${noticia.titulo}"></h5>
                            <p class="card-text" th:text="${noticia.cuerpo}"></p>
                            <a th:href="@{/noticia/lista/__${noticia.id}__}" class="btn btn-primary">Leer</a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>     







        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>        
    </body>
</html>

