<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
        <nav th:replace= "/fragments/navbar :: nav"> </nav>

        <div class="container-fluid d-grid gap-2 col-3 mx-auto pb-5 ">
            <a class="btn btn-outline-primary  btn-block" th:href="@{/noticia/crearNoti}" role="button">Crear noticia</a>
        </div>

        <div class="container">
            <table class="table table-hover table-bordered ">   
                <thead class="titulos table-dark">
                    <tr>
                        <th scope="col">Id de la noticia</th>
                        <th scope="col">Titulo de la noticia</th>
                        <!--<th scope="col">Creador de la noticia</th>-->
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>

                <tbody th:each="noticia : ${noticias}">
                    <tr>
                        <th scope="row" th:text="${noticia.id}"></th>
                        <td th:text="${noticia.titulo}"></td>
                        <!--<td th:text="${noticia.creador}"></td>-->
                        <td>
                            <li class="nav-item dropdown"style="list-style-type: none;">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Acciones
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" th:href="@{/noticia/modificar/__${noticia.id}__}">Modificar</a></li>
                                    <li><a class="dropdown-item" sec:authorize="hasRole('ADMIN')" th:href="@{/noticia/eliminar/__${noticia.id}__}">Eliminar</a></li>
                                    <li><a class="dropdown-item" th:href="@{/noticia/lista/__${noticia.id}__}">Leer</a></li>
                                </ul>
                            </li>
                </tr>    
            </table>            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>        
    </body>
</html>
