
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace= "/fragments/head :: head"> </head>
    <body>
        <nav th:replace= "/fragments/navbar :: nav"> </nav>
        <header>
            <div class="container-fluid">
                <h2>Ingrese una noticia!</h2>
            </div>            
        </header>

        <div class="container-fluid">
            <form class="formulario" th:action="@{/noticia/crear}" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control"  name="titulo" id="titulo" placeholder="titulo">
                </div>
                <!--
                <div class="mb-3">
                    <input type="text" class="form-control"  name="titulo" id="creador" placeholder="creador">
                </div>
                -->
                <div class="mb-3">
                    <textarea class="form-control" type="text" name="cuerpo" id="cuerpo" rows="10" placeholder="cuerpo"></textarea>
                </div>


                <br>

                <button type="submit" class="btn btn-primary"> FINALIZAR </button> 
            </form>

        </div>

        <br>

        <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError" >
            <div class="card-body">
                <h5 class="card-title">Error</h5>
                <p class="card-text" th:text="${error}"></p>                
            </div>
        </div>
        <div th:if="${exito}!=null" class="card text-white bg-danger mb-3 mensajeExito" >
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>                
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>
